.DS_Store
.localized
*.png
*.pdf
*.tar
BACKTOCITYFOTO/
Belgeler/
Fotoğraf Klasörleri/
GitKursu/
Kodluyoruz-VeriBilimiAtölye/
Lİne/
Müşteri Faturalar/
OUTLIERS Charm/
Outliers Kart Tasarımları /
hi_kod_VERİ_BİLİMİ/
patikasql/
